node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Environment variables
.env

# Veri dosyaları (isteğe bağlı olarak ignore edebilirsiniz)
# data/*.json
.env.local
.env.development.local
.env.test.local
.env.production.local